@import '../../styles/imports.scss';

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;

  @include media($large) {
    width: 500px;
  }
}

.submit {
  position: absolute;
  bottom: 0px;
  right: 0px;

  &--disabled {
    background-color: grey;
  }
}
