@import '../../styles/imports.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.check {
  width: 80px;
  height: 70px;
}

.confirmation_text {
  flex-wrap: wrap;
  color: #00A109;
}
