@import 'imports.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;

  margin: 0 auto;

  @include media($large) {
    padding: 50px;
    width: 60vw;
  }
}

.form_wrapper {
  position: relative;
  min-height: 300px;
  border: 2px solid $black;
  padding: 20px 30px 25px 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
