@import '../../styles/imports.scss';

.root {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  position: relative;
}

.form {
  &__row {
    display: flex;
    align-items: center;
  }

  &__label {
    font-weight: bold;
    font-size: 13px;

    @include media($large) {
      font-size: 18px;
    }
  }

  &__check {
    width: 20px;
    height: 20px;
  }
}

.submit {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
